@model IEnumerable<HospitalManagementSysSprint_CoreMvc.Models.RoomTypeVM>

@{
    ViewData["Title"] = "Index";
}


<h1>RoomType</h1>
<div>
     <img src="~/image/rt.jpeg"width="50%" height="250px">
</div>
<br/>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargesPerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargesPerDay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RoomTypeId }) |
                
                @Html.ActionLink("Delete", "Delete", new {  id=item.RoomTypeId  })
            </td>
        </tr>
}
    </tbody>
</table>
