@model IEnumerable<HospitalManagementSysSprint_CoreMvc.Models.OutpatientVM>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OutPatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutPatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreatmentDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.OutPatientId }) |
               
                @Html.ActionLink("Delete", "Delete", new {  id=item.OutPatientId  }) |
                 @Html.ActionLink("Out Bill","index","OutBill")
            </td>
        </tr>
}
    </tbody>
</table>
